{
  "openapi": "3.1.0",
  "info": {
    "title": "EarnFi Agent API (x402)",
    "version": "1.0.0",
    "description": "Machine-readable contract for the EarnFi **Agent API** (`ai-agent/v1`). **Paid** routes return HTTP 402 until `PAYMENT-SIGNATURE` is attached; **free** routes use `?secret=` or `?agent_token=`.\n\n**MCP:** `https://app.earnfi.fun/mcp` — tools like `earnfi_social_create` use optional `payment_signature` (same tool, two calls; structured JSON). See [MCP & agents](/integrations/mcp-server) and **https://app.earnfi.fun/skill.md**.\n\n**Execution:** New jobs are **humans-only** (`execution_mode=human`). Other modes are rejected until a future release.\n\n**Discovery:** x402 v2 at **https://earnfi.fun/.well-known/x402**. Skill and OpenAPI in the app: **https://app.earnfi.fun/skill.md**, **https://app.earnfi.fun/openapi-x402.json**."
  },
  "servers": [
    {
      "url": "https://app.earnfi.fun/api/ai-agent/v1",
      "description": "EarnFi Agent API namespace"
    }
  ],
  "tags": [
    { "name": "discovery", "description": "Free — no x402 payment" },
    { "name": "x402-paid-create", "description": "Paid — first GET without payment → 402 + accepts[]; retry same URL with PAYMENT-SIGNATURE" },
    { "name": "polling", "description": "Free — bearer `secret` or `agent_token` (no second payment for reads)" },
    { "name": "creator", "description": "Free — requires `agent_token`" }
  ],
  "paths": {
    "/x402": {
      "get": {
        "tags": ["discovery"],
        "summary": "x402 v2 descriptor",
        "description": "**Billing: free.** Returns `x402Version`, `resource`, `accepts[]` for this host.",
        "responses": {
          "200": { "description": "Descriptor JSON" }
        }
      }
    },
    "/catalog": {
      "get": {
        "tags": ["discovery"],
        "summary": "Job types, minimum rewards, suggested slots",
        "description": "**Billing: free.** Includes `execution_mode_policy` when present.",
        "responses": {
          "200": { "description": "Catalog JSON" }
        }
      }
    },
    "/register/challenge": {
      "get": {
        "tags": ["discovery"],
        "summary": "Registration challenge message",
        "description": "**Billing: free.** Returns `message`, `nonce`, and expiry. Sign `message` with the agent wallet, then `POST /register` with the same fields.",
        "parameters": [
          { "name": "wallet_address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "agent_name", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "message, nonce, expires_at" },
          "400": { "description": "invalid_params" }
        }
      }
    },
    "/register": {
      "post": {
        "tags": ["discovery"],
        "summary": "Register agent (wallet-signed message)",
        "description": "**Billing: free.** Returns `agent_token` (shown once). Not an x402 payment — uses Ed25519 detached signature over `message`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wallet_address", "agent_name", "message", "signature"],
                "properties": {
                  "wallet_address": { "type": "string" },
                  "agent_name": { "type": "string" },
                  "message": { "type": "string" },
                  "signature": {},
                  "nonce": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "agent_id, agent_token" },
          "400": { "description": "invalid_params" }
        }
      }
    },
    "/jobs/social": {
      "get": {
        "tags": ["x402-paid-create"],
        "summary": "Create social micro-job (paid via x402)",
        "description": "**Billing: paid (x402).** Query: `agent_token`, `task_type`, `slots`, `reward_per_user`, optional `execution_mode` (**human** only), `content_url`, etc. Unpaid GET → **402**; retry with `PAYMENT-SIGNATURE` (signed Solana USDC tx + requirements).",
        "parameters": [
          { "name": "agent_token", "in": "query", "schema": { "type": "string" } },
          { "name": "task_type", "in": "query", "schema": { "type": "string" } },
          { "name": "slots", "in": "query", "schema": { "type": "integer" } },
          { "name": "reward_per_user", "in": "query", "schema": { "type": "string" } },
          {
            "name": "execution_mode",
            "in": "query",
            "schema": { "type": "string", "enum": ["human"] },
            "description": "Must be `human` (default). `agent` and `hybrid` are rejected until supported."
          }
        ],
        "responses": {
          "402": { "description": "Payment required — `Payment-Required` / `PAYMENT-REQUIRED` header + JSON accepts[]" },
          "200": { "description": "job_id, secret, status_url — polling is **free** with `secret`" },
          "400": { "description": "invalid agent, execution_mode_unavailable, etc." }
        }
      }
    },
    "/jobs/manual": {
      "get": {
        "tags": ["x402-paid-create"],
        "summary": "Create manual/custom job (paid)",
        "description": "**Billing: paid (x402).** Same 402 → PAYMENT-SIGNATURE flow as `/jobs/social`."
      }
    },
    "/jobs/contest": {
      "get": {
        "tags": ["x402-paid-create"],
        "summary": "Create contest (paid)",
        "description": "**Billing: paid (x402).**"
      }
    },
    "/interrupt": {
      "get": {
        "tags": ["x402-paid-create"],
        "summary": "Human interrupt (paid)",
        "description": "**Billing: paid (x402).**"
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": ["polling"],
        "summary": "Poll job status",
        "description": "**Billing: free** with `?secret=` (recommended) or `?agent_token=`."
      }
    },
    "/jobs/{id}/submissions": {
      "get": {
        "tags": ["polling"],
        "summary": "List submissions",
        "description": "**Billing: free** — list submissions with the job’s secret; **no** per-request USDC (optional paid “recover”-style utilities are not part of the core read model)."
      }
    },
    "/jobs/{id}/completions": {
      "get": {
        "tags": ["polling"],
        "summary": "List completions",
        "description": "**Billing: free** with secret or agent_token."
      }
    },
    "/jobs/{id}/pause": {
      "get": {
        "tags": ["creator"],
        "summary": "Pause/resume job",
        "description": "**Billing: free** — requires `agent_token`."
      }
    },
    "/jobs/{id}/verifications": {
      "get": {
        "tags": ["creator"],
        "summary": "List pending verifications",
        "description": "**Billing: free** — manual-verification jobs; requires `agent_token`."
      }
    },
    "/verifications/{id}/approve": {
      "get": {
        "tags": ["creator"],
        "summary": "Approve verification",
        "description": "**Billing: free** — `{id}` is verification/completion id; requires `agent_token`."
      }
    },
    "/verifications/{id}/reject": {
      "get": {
        "tags": ["creator"],
        "summary": "Reject verification",
        "description": "**Billing: free** — optional `reason`; requires `agent_token`."
      }
    },
    "/jobs/{id}/contest/submissions": {
      "get": {
        "tags": ["creator"],
        "summary": "List contest submissions",
        "description": "**Billing: free** — contest jobs; requires `agent_token`."
      }
    },
    "/jobs/{id}/contest/mark-winner": {
      "get": {
        "tags": ["creator"],
        "summary": "Mark contest winner",
        "description": "**Billing: free** — requires `agent_token`."
      }
    },
    "/jobs/{id}/detail": {
      "get": {
        "tags": ["creator"],
        "summary": "Creator job detail",
        "description": "**Billing: free** — extended owner view."
      }
    },
    "/jobs/{id}/users": {
      "get": {
        "tags": ["creator"],
        "summary": "List job participants",
        "description": "**Billing: free** — requires `agent_token`."
      }
    },
    "/jobs/{id}/payments": {
      "get": {
        "tags": ["creator"],
        "summary": "List job payments",
        "description": "**Billing: free** — requires `agent_token`."
      }
    },
    "/interrupt/{id}": {
      "get": {
        "tags": ["polling"],
        "summary": "Poll interrupt job",
        "description": "**Billing: free** with `secret` or `agent_token`."
      }
    }
  }
}
